fastapi
uvicorn[standard]
beanie~=1.23.0
pydantic==1.10.12  # pin to pydantic v1 for beanie compatibility
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
apscheduler
fastapi-mail>=1.4.1
pytz
python-multipart